* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2b2946;
  /* background-image: url(/assets/img/programer.jpg); */
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 30px 0;
  text-align: center;
}

h1 {
  color: #fff;
  margin: 5px 0;
  font-weight: normal;
}

h1::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #191732;
  display: block;
  margin: 10px auto;
  border-radius: 5px;
}


.my-form {
  /* background-color: #2B2946; */
  background-color: #191732ee;
  color: #fff;
  padding: 30px;
  max-width: 600px;
  border-radius: 3px;
  margin: 10px ;
}

.input-name input,
.input-email input,
.input-idade input,
.select-options select,
textarea,
button {
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 15px;
  outline: none;
  margin: 5px 0 20px 0;
  color: #555;
  border: none;
  border-radius: 3px;
}

.input-radio {
  margin-bottom: 30px;
}

.check p {
  margin-bottom: 20px;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  height: 150px;
  resize: vertical;
}

button {
  margin-top: 20px;
  background-color: #37af65;
  border: none;
  color: #fff;
  padding: 10px;
}

button:hover {
  cursor: pointer;
  background-color: #34a35f;
}

footer {
  color: #555;
}

footer a {
  color: #aaa;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
