/* configuracoes gerais */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 990px;
  margin: auto;
}

/* Area do header ------------------------ */
.logo {
  text-transform: uppercase;
  font-weight: bold;
}

.navegation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
}

.menu li a {
  margin: 0 1px;
  padding: 10px;
  text-decoration: none;
  border-radius: 2px;
  color: #555;
  font-size: 14px;
}

.menu li a:hover,
#active {
  background-color: #42b3e5;
  color: #fff;
}

.banner {
  background-image: url("/05-projeto-dentista/assets/images/dentista-capa.jpg");
  background-position: center;
  background-size: cover;
  height: 640px;
}

.banner-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  flex: 1;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title h1 {
  font-size: 50px;
  font-weight: normal;
}

.title p {
  font-size: 24px;
  line-height: 1.5;
  margin-top: 5px;
}

.info {
  height: 200px;
  display: flex;
}

.info-content-1,
.info-content-2,
.info-content-3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  line-height: 1.2;
  padding: 20px;
}

.info-content-1 {
  background-color: #42b3e5;
}

.info-content-2 {
  background-color: #0384ce;
}

.info-content-3 {
  background-color: #3156a3;
}

.info-description-title {
  font-size: 20px;
}

.info-description-text {
  font-size: 15px;
}

.info-description-link {
  border: 1px solid #fff;
  width: max-content;
  padding: 5px;
  text-decoration: none;
  color: #fff;
}

.info-description-link:hover {
  background-color: #fff;
  color: #555;
}

.timetable {
  display: flex;
  flex-direction: column;
}

.timetable-description {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #fff;
}

/* area principal do site a seguir --------------------- */

#principal {
  display: flex;
  justify-content: space-between;
}

.principal-container {
  flex: 2;
}

.second-title {
  margin: 20px 0;
  font-weight: normal;
}

.second-title::after {
  content: "";
  width: 50px;
  height: 4px;
  margin-top: 5px;
  background-color: #42b3e5;
  display: block;
}

.article-content {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}

.latest-news {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: 20px;
}

.latest-news a {
  text-decoration: none;
  color: #000;
}

.views {
  display: flex;
  margin-bottom: 20px;
}

.views-date,
.views-comments {
  padding: 5px 10px;
  margin: 10px 2px 0 0;
  color: #fff;
}

.views-date {
  background-color: #3156a3;
}

.views-comments {
  background-color: #42b3e5;
}

.image-decoration {
  max-width: 100%;
}

.image-decoration img {
  max-width: 100%;
}

.notice-title {
  font-size: 25px;
}

.notice-text,
.contact-text {
  margin: 20px 0;
  font-size: 15px;
  line-height: 1.2;
  color: #555;
  padding-bottom: 20px;
}

/* area do código referente ao conteúdo aside ---------------------- */

.departaments {
  flex: 1;
}

.other-notices {
  padding-top: 20px;
  color: #555;
  margin-bottom: 50px;
}

.other-new-1 {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.other-new-1:hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

.contact address {
  border-bottom: 1px solid #ccc;
}

.contact-by {
  padding: 10px 0;
  border-top: 1px solid #ccc;
  font-style: normal;
  color: #555;
  display: flex;
  align-items: center;
}

.contact-by a {
  text-decoration: none;
}

.fa-phone,
.fa-envelope-open-text,
.fa-rectangle-list {
  padding-right: 5px;
  font-size: 25px;
}
