/* configuracoes gerais */

* {
  box-sizing: border-box;
}

:root {
  --text-size: 15px;
  --title-size: 22px;
  --spacing-geral: 20px;
  --subtitle-size: 25px;
  --menu-size: 14px;
  --banner-title-h1: 40px;
  --banner-title-p: 25px;
  --bg-color-weak: #42b3e5;
  --bg-color-medium: #0384ce;
  --bg-color-strong: #3156a3;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 990px;
  margin: auto;
}

/* Area do header ------------------------ */
.logo {
  text-transform: uppercase;
  font-weight: bold;
}

.navegation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
}

.menu li a {
  margin: 0 1px;
  padding: 10px;
  text-decoration: none;
  border-radius: 2px;
  color: #555;
  font-size: var(--menu-size);
}

.menu li a:hover,
#active {
  background-color: var(--bg-color-weak);
  color: #fff;
}

.banner {
  background-image: url("/assets/images/dentista-capa.jpg");
  background-position: center;
  background-size: cover;
  height: 640px;
}

.banner-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  flex: 1;
  color: #fff;
  text-shadow: 1px 1px 2px black;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title h1 {
  font-size: var(--banner-title-h1);
  font-weight: normal;
}

.title p {
  font-size: var(--banner-title-p);
  line-height: 1.5;
  margin-top: 5px;
}

.info {
  height: 200px;
  display: flex;
}

.info-content-1,
.info-content-2,
.info-content-3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  line-height: 1.2;
  padding: var(--spacing-geral);
}

.info-content-1,
.footer-infos-description-1 {
  background-color: var(--bg-color-weak);
}

.info-content-2,
.footer-infos-description-2 {
  background-color: var(--bg-color-medium);
}

.info-content-3,
.footer-infos-description-3 {
  background-color: var(--bg-color-strong);
}

.info-description-title,
.footer-infos span {
  font-size: var(--title-size);
}

.info-description-text,
.footer-infos p,
.footer-important p {
  font-size: var(--text-size);
}

.info-description-link {
  border: 1px solid #fff;
  width: max-content;
  padding: 5px;
  text-decoration: none;
  color: #fff;
}

.info-description-link:hover {
  background-color: #fff;
  color: #555;
}

.timetable {
  display: flex;
  flex-direction: column;
  font-size: var(--text-size);
}

.timetable-description {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #fff;
}

/* area principal do site a seguir --------------------- */

#principal {
  display: flex;
  justify-content: space-between;
}

.principal-container {
  flex: 2;
  margin-bottom: var(--spacing-geral);
}

.second-title,
.footer-link-title {
  margin: var(--spacing-geral) 0;
  font-weight: normal;
  font-size: var(--subtitle-size)
}

.second-title::after,
.footer-link-title:after {
  content: "";
  width: 50px;
  height: 4px;
  margin-top: 5px;
  background-color: var(--bg-color-weak);
  display: block;
}

.article-content {
  display: flex;
  flex-wrap: wrap;
  padding-top: var(--spacing-geral);
}

.latest-news {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-right: var(--spacing-geral);
}

.latest-news a {
  text-decoration: none;
  color: #000;
}

.views {
  display: flex;
  margin-bottom: var(--spacing-geral);
  font-size: var(--text-size);
}

.views-date,
.views-comments {
  padding: 5px 10px;
  margin: 10px 2px 0 0;
  color: #fff;
}

.views-date {
  background-color: var(--bg-color-strong);
}

.views-comments {
  background-color: var(--bg-color-weak);
}

.image-decoration {
  max-width: 100%;
}

.image-decoration img {
  max-width: 100%;
}

.notice-title {
  margin-top: 10px;
  font-size: var(--title-size);
}

.notice-text,
.contact-text {
  margin: 10px 0;
  font-size: var(--text-size);
  line-height: 1.2;
  color: #555;
  padding-bottom: var(--spacing-geral);
}

/* area do código referente ao conteúdo aside ---------------------- */

.departaments {
  flex: 1;
}

.other-notices {
  padding-top: var(--spacing-geral);
  color: #555;
  margin-bottom: 50px;
  font-size: var(--text-size);
}

.other-new-1 {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.other-new-1:hover {
  background-color: rgb(235, 235, 235);
  cursor: pointer;
}

.contact address {
  border-bottom: 1px solid #ccc;
}

.contact-by {
  padding: 10px 0;
  border-top: 1px solid #ccc;
  font-style: normal;
  color: #555;
  display: flex;
  align-items: center;
  font-size: var(--text-size);
}

.contact-by a {
  text-decoration: none;
}

.fa-phone,
.fa-envelope-open-text,
.fa-rectangle-list,
.fa-square-facebook,
.fa-square-twitter,
.fa-square-instagram,
.fa-square-youtube {
  padding-right: 5px;
  font-size: 25px;
  color: #555;
}

/* area footer abaixo ---------------------- */

footer {
  background-color: #202020;
}

.footer-infos {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.footer-infos p {
  margin-top: 10px;
  color: #fff;
}
.footer-infos-description-1,
.footer-infos-description-2,
.footer-infos-description-3 {
  flex: 1;
  padding: var(--spacing-geral);
}

.footer-links {
  color: #fff;
  margin-top: var(--spacing-geral);
  display: flex;
  justify-content: space-between;
}

.footer-important {
  flex: 1;
  padding-right: var(--spacing-geral);
}

.footer-important p {
  margin-bottom: var(--spacing-geral);
  color: #555;
}

.footer-important a,
.footer-copy a {
  text-decoration: none;
  color: #a2a2a2;
}

.footer-important a:hover,
.footer-copy a:hover {
  text-decoration: underline;
}

.footer-link-title {
  padding: var(--spacing-geral) var(--spacing-geral) 0 0;
}

.footer-icons {
  margin-top: var(--spacing-geral);
}

.footer-address {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-style: normal;
}

.footer-address p {
  margin: 0;
}

.footer-copy {
  padding: 10px 0;
  border-top: 1px solid #555;
}

.footer-copy p {
  color: #555;
  font-size: var(--text-size);
}
